<!doctype html>
<html lang="en">
<head>
  <title>Partners</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'admin',
                          media: 'all',
                          'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'admin',
                          'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= render 'layouts/admin/navbar' %>

  <div class="container-fluid">
    <div class="row">
      <%= render 'layouts/admin/sidebar' %>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <%= yield %>
      </main>
    </div>
  </div>
</body>
</html>
